@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container{
    width: 80%;
    height: 4vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Fredericka the Great", serif;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.logo2{
    font-family: "Fredericka the Great", serif;
    color: blue;
}

.menu{
    display: flex;
    gap: 2vw;
}

.nav-a{
    text-decoration: none;
    font-size: 1.2vw;
    color: gray;
}

.nav-a:hover{
    color: blue;
}

.active{
    color: blue;
    border-bottom: 3px solid blue;
}

.nav-actions{
    display: flex;
    gap: 1.5vw;
}

.cart-btn{
    width: 4vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart{
    width: 2.2vw;
}

.cart-btn:hover{
    background-color: lightgray;
    border-radius: 10%;
}

.cart-count{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    width: 1vw;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0.2vw;
}

.login-btn{
    text-decoration: none;
    font-size: 1.2vw;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    height: 2.3vw;
    border: 2px solid blue;
    border-radius: 0.2vw;
}

.login-btn:hover{
    background-color: blue;
    color: white;
}

.bars{
    display: none;
    width: 2.5vw;
}

main{
    width: 100%;
    min-height: 100vh;
    margin-top: 4vw;
    background-color: #f3f9ff;
}

.contact-container{
    width: 80%;
    margin: 0 auto;
}


/* footer  */

footer{
    width: 100%;
    background-color: rgb(17, 24, 39);
    color: white;
}

.footer-boxes{
    width: 80%;
    margin: 0 auto;
    padding: 2vw 0;
    display: flex;
    justify-content: space-between;
}

.footer-box{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.logo1-f{
    font-family: "Fredericka the Great", serif;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

.logo2-f{
    font-family: "Fredericka the Great", serif;
    color: blue;
}

.footer-h4{
    font-size: 1.2vw;
}

.footer-box p,a{
    color: gray;
    text-decoration: none;
    font-size: 1vw;
}

.footer-box a:hover{
    color: white;
}

.social a img{
    width: 2vw;
}

.footer-bottom{
    width: 100%;
    text-align: center;
    font-size: 0.9vw;
    color: lightgray;
    padding: 1vw;
    border-top: 1px solid gray;
}