@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightgray;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container{
    width: 80%;
    height: 4vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Fredericka the Great", serif;
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
}

.logo2{
    font-family: "Fredericka the Great", serif;
    color: blue;
}

.menu{
    display: flex;
    gap: 2vw;
}

.menu-phone{
    display: none;
}

.nav-a{
    text-decoration: none;
    font-size: 1.2vw;
    color: gray;
}

.nav-a:hover{
    color: blue;
}

.active{
    color: blue;
    border-bottom: 3px solid blue;
}

.nav-actions{
    display: flex;
    gap: 1.5vw;
}

.cart-btn{
    width: 4vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cart{
    width: 2.2vw;
}

.cart-btn:hover{
    background-color: lightgray;
    border-radius: 10%;
}

.cart-count{
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
    width: 1vw;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0.2vw;
}

.login-btn{
    text-decoration: none;
    font-size: 1.2vw;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw;
    height: 2.3vw;
    border: 2px solid blue;
    border-radius: 0.2vw;
}

.login-btn:hover{
    background-color: blue;
    color: white;
}

.bars{
    display: none;
    width: 2.5vw;
}

main{
    width: 100%;
    /* min-height: 100vh; */
    min-height: calc(100vh - 19vw);
    background-color: #f3f9ff;
}

/* section 1 */

.first-section{
    width: 100%;
    background-color: #f3f9ff;
    margin-top: 4vw;
}

.first-boxes{
    width: 80%;
    margin: 0 auto;
    padding: 4vw 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-box{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.first-h1{
    font-size: 3vw;
}

.first-p{
    width: 32vw;
    font-size: 1.2vw;
    color: gray;
}

.first-btn{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    padding: 1vw;
    margin-top: 2vw;
    font-size: 1vw;
    border: none;
    border-radius: 0.6vw;
    background-color: rgba(0, 0, 255, 0.699);
    color: white;
}

.first-btn:hover{
    background-color: blue;
    cursor: pointer;
    box-shadow: 0 0 10px lightblue;
    margin-top: 1.9vw;
    margin-bottom: 0.1vw;
}

.logo-img{
    width: 40vw;
}

/* section 2 */

.second-section{
    width: 100%;
    background-color: #f3f9ff;
}

.second-boxes{
    width: 80%;
    margin: 0 auto;
}

.second-h2{
    font-size: 2vw;
}

.second-box{
    margin-top: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 0;
}

.cat-card{
    width: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    text-decoration: none;
    padding: 1vw;
    margin-top: 1vw;
    border: 1px solid gray;
    border-radius: 1vw;
}

.cat-card:hover{
    border: 1px solid blue;
    box-shadow: 0 0 10px gray;
    margin-top: 0.8vw;
    transition: 400ms;
}

.cat-icon{
    width: 6vw;
}

.second-h3{
    font-size: 1.5vw;
    color: black;
}

.second-p{
    color: gray;
    font-size: 1vw;
}

/* product section3  */

.product-section{
    width: 100%;
    background-color: #f3f9ff;
}

.product-section-box{
    width: 80%;
    margin: 0 auto;
    padding: 5vw 0;
}

.product-h2{
    font-size: 2vw;
}

.product-boxes{
    margin-top: 2vw;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 2.1vw;
}

.product-card{
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1vw;
    border: 1px solid lightgray;
}

.product-card:hover{
    box-shadow: 0 0 10px gray;
    scale: 1.01;
    transition: 400ms;
}

.product-img{
    background-color: lightgray;
    width: 100%;
    height: 19vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border-radius: 1vw 1vw 0 0;
}

.product-img img{
    width: 100%;
}

.product-body{
    display: flex;
    flex-direction: column;
    padding: 1vw;
    gap: 1.2vw;
}

.product-title{
    font-size: 1.2vw;
    font-weight: 600;
}

.product-meta{
    display: flex;
    justify-content: space-between;
    font-size: 0.9vw;
    color: gray;
}

.product-price{
    font-size: 1.2vw;
    font-weight: 900;
    color: blue;
}

.add-btn{
    height: 2.5vw;
    border: 1px solid lightgray;
    border-radius: 0.5vw;
    font-size: 1.1vw;
}

.add-btn:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

/* footer  */

footer{
    width: 100%;
    background-color: rgb(17, 24, 39);
    color: white;
}

.footer-boxes{
    width: 80%;
    margin: 0 auto;
    padding: 2vw 0;
    display: flex;
    justify-content: space-between;
}

.footer-box{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.logo1-f{
    font-family: "Fredericka the Great", serif;
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
}

.logo2-f{
    font-family: "Fredericka the Great", serif;
    color: blue;
}

.footer-h4{
    font-size: 1.2vw;
}

.footer-box p,a{
    color: gray;
    text-decoration: none;
    font-size: 1vw;
}

.footer-box a:hover{
    color: white;
}

.social a img{
    width: 2vw;
}

.footer-bottom{
    width: 100%;
    text-align: center;
    font-size: 0.9vw;
    color: lightgray;
    padding: 1vw;
    border-top: 1px solid gray;
}

@media (max-width: 600px) {

    /* header  */

    .container{
        width: 80%;
        height: 12vw;
    }

    .logo{
    font-size: 4.5vw;
}

.menu{
    display: none;
}

.menu-phone{
    background-color: #f3f9ff;
    margin: 12vw auto 0;
    padding: 3vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
    border-bottom: 1px solid lightgray;
}

.nav-a{
    font-size: 3.6vw;
}

.nav-actions{
    gap: 3vw;
}

.cart-btn{
    width: 12vw;
    height: 7.5vw;

}

.cart{
    width: 6.6vw;
}

.cart-count{
    font-size: 2.4vw;
    width: 3vw;
    top: 0;
    right: 0.6vw;
}

.login-btn{
    font-size: 3.6vw;
    padding: 1.5vw;
    height: 6.9vw;
    border-radius: 0.6vw;
}

.bars{
    display: block;
    width: 7.5vw;
}

main{
    min-height: calc(100vh - 19vw);
}

/* section 1 */

.first-section{
    margin-top: 0vw;
}

.first-boxes{
    width: 80%;
    padding: 8vw 0;
    flex-direction: column;
}

.first-box{
    gap: 2vw;
}

.first-h1{
    font-size: 6vw;
}

.first-p{
    width: 64vw;
    font-size: 2.4vw;
}

.first-btn{
    width: 20vw;
    padding: 2vw;
    margin-top: 4vw;
    font-size: 2vw;
    border-radius: 1.2vw;
}

.first-btn:hover{
    margin-top: 3.8vw;
    margin-bottom: 0.2vw;
}

.logo-img{
    width: 80vw;
}

.second-boxes{
    width: 80%;
}

.second-h2{
    font-size: 4vw;
}

.second-box{
    margin-top: 2vw;
    flex-direction: column;
    padding: 2vw 0;
}

.cat-card{
    width: 64%;
    gap: 2vw;
    padding: 2vw;
    margin-top: 2vw;
    border-radius: 2vw;
}

.cat-card:hover{
    margin-top: 1.6vw;
}

.cat-icon{
    width: 12vw;
}

.second-h3{
    font-size: 3vw;
}

.second-p{
    font-size: 2vw;
}

/* product section3  */

.product-section-box{
    width: 80%;
    padding: 10vw 0;
}

.product-h2{
    font-size: 4vw;
}

.product-boxes{
    margin-top: 4vw;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2.1vw;
}

.product-card{
    width: 46%;
}

.product-img{
    width: 100%;
    height: 38vw;
    padding: 2vw;
}

.product-body{
    padding: 2vw;
    gap: 2.4vw;
}

.product-title{
    font-size: 2.4vw;
}

.product-meta{
    font-size: 1.8vw;
}

.product-price{
    font-size: 2.4vw;
}

.add-btn{
    height: 5vw;
    border-radius: 0.5vw;
    font-size: 2.2vw;
}

/* footer  */

.footer-boxes{
    width: 80%;
    padding: 3vw 0;
    flex-direction: column;
    gap: 4.5vw;
}

.footer-box{
    width: max-content;
    gap: 2.25vw;
}

.logo1-f{
    font-size: 4.5vw;
}

.footer-h4{
    font-size: 3.6vw;
}

.footer-box p,a{
    font-size: 3vw;
}

.social a img{
    width: 6vw;
}

.footer-bottom{
    font-size: 2.7vw;
    padding: 3vw;
}
}